/node_modules
/public/hot
/public/seo
/public/nginx.test.conf
/public/storage
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/migration/*
/storage/migration.zip
/storage/logs/*
/storage/app/public/*
/storage/debugbar/*


.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/public/uploads
composer.lock
.idea
.env
/.history
php-beast.log
php_errors.log
updated.zip
.editorconfig
nginx.test.conf
update.zip
encode_files.php

