/node_modules
/public/hot
/public/storage
/public/seo
/storage/*
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/public/uploads
composer.lock
.idea
/.history
.env
